:root{
    --dark: #333435;
    --darker: #2a2b2c;
    --darkest: #0e0e0f;
    --gray: #7c7d80;
    --light: #e0dbdb;
    --pink: #e929b6;
    --purple: #c23866;
	--primary: #EA40A4;
	--personal-glow: 0px 0px 4px rgba(234, 64, 164, 0.75);
}
*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Fira sans',sans-serif;
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: var(--dark);
    color: #fff;
}
.taskcomplete{
text-decoration: line-through;

}

header{
    padding: 2rem  1rem;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}
header h1{ 
	font-size: 2.5rem;
	font-weight: 300;
	color: var(--gray);
	margin-bottom: 1rem;
}
.date{
	padding: 2rem  1rem;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}
h6{
	font-size: 1.5rem;
	font-weight: 300;
	color: var(--gray);
	margin-bottom: 1rem;

}

#new-task-form {
	display: flex;;
}

input, button {
	appearance: none; 
	border: none;
	outline: none;
	background: none;
}

#new-task-input {
	flex: 1 1 0%;
	background-color: var(--darker);
	padding: 1rem;
	border-radius: 1rem;
	margin-right: 1rem;
	color: var(--light);
	font-size: 1.25rem;
}

#new-task-input::placeholder {
	color: var(--gray);
}

#new-task-submit {
	color: var(--pink);
	font-size: 1.25rem;
	font-weight: 700;
	background-image: linear-gradient(to right, var(--pink), var(--purple));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	cursor: pointer;
	transition: 0.4s;
}

#new-task-submit:hover {
	opacity: 0.8;
}

#new-task-submit:active {
	opacity: 0.6;
}

main {
	flex: 1 1 0%;
	max-width: 800px;
	width: 100%;
	margin: 0 auto;
}

.task-list {
	padding: 1rem;
}

.task-list h2 {
	font-size: 1.5rem;
	font-weight: 300;
	color: var(--grey);
	margin-bottom: 1rem;
}

#tasks .task {
	display: flex;
	justify-content: space-between;
	background-color: var(--darkest);
	padding: 1rem;
	border-radius: 1rem;
	margin-bottom: 1rem;
}

.task .content {
	flex: 1 1 0%;
}

.task .content .text {
	color: var(--light);
	font-size: 1.125rem;
	width: 100%;
	display: block;
	transition: 0.4s;
}

.task .content .text:not(:read-only) {
	color: var(--pink);
}

.task .actions {
	display: flex;
	margin: 0 -0.5rem;
}

.task .actions button {
	cursor: pointer;
	margin: 0 0.5rem;
	font-size: 1.125rem;
	font-weight: 700;
	text-transform: uppercase;
	transition: 0.4s;
}

.task .actions button:hover {
	opacity: 0.8;
}

.task .actions button:active {
	opacity: 0.6;
}

.task .actions .edit {
	background-image: linear-gradient(to right, var(--pink), var(--purple));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.task .actions .delete {
	color: crimson;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    border: none;
}

.select {
   /* // margin: 1rem; */
	margin-left: 0.6rem;
	margin-bottom: 1rem;
	margin-top: 1rem;
	margin-right: 1rem;
    position: relative;
    overflow: hidden;
    border-radius: 50px;

}

select {
    color:var(--pink);
    width: 25%;
    height: 3.2%;
    cursor: pointer;
    padding: 1rem;
	background-color: #1F2937
	
}
.completed {
	text-decoration: line-through;
	opacity: 0.5;
	font-size: 1.5rem;
}
.select::after {
    content: "\25BC";
    position: absolute;
    background:var(--pink);
    /* top: 0;
    right: 0;*/
	
	
    padding: 1rem; 
    pointer-events: none;
    transition: all 0.3s ease;
	
}

.select::hover::after {
    background: rgb(41, 39, 39);
    color: var(--pink);
}